<section class="todolist-wrapper">
  <h1 class="title">TODO APP</h1>
  <div class="new-todo">
    <input type="text" placeholder="write a new assignment" />
    <button>+</button>
  </div>
  <div class="filters">
    <button>All</button>
    <button>Active</button>
    <button>Completed</button>
  </div>
  <ul class="todolist">
    <!-- already edited -->
    <li class="todo">
      <input type="checkbox" />
      <label>Task Title</label>
      <button>Edit</button>
      <button>Delete</button>
    </li>

    <!-- editing -->
    <li class="todo-editing">
      <input type="text" placeholder="Edit Task" />
    </li>
  </ul>
</section>
